*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.hero{
    background-color: #fff;
    max-width: 450px;
    height: 600px;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.295);
}

.hero__1 img{
    border:none;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

p{
    color:#666;
    font-size: 16px;
}

.description{
    text-align: center;
}

.description h1{
    margin-top: 20px;
}

.description p{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.icon img{
    margin-left: 40px;
}

.annual li{
    line-height: 2px;
}

.change a{
    margin-right: 40px;
}

.price{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 420px;
    height: 90px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price ul li{
    list-style: none;
}

button{
    padding: 15px 100px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 7px;
    font-weight: 700;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
}

.btn p {
    color: #666;
    margin-bottom: 220px;
}